name: CI 
on:
  pull_request: 
jobs: 
  build: 
    runs-on: ubuntu-latest 
    steps: 
    - uses: actions/checkout@v3 
    - name: Setup .NET 
      uses: actions/setup-dotnet@v3 
      with: 
        dotnet-version: 10.0.x 
    - name: Restore dependencies 
      run: dotnet restore SmartProperty.sln 
    - name: Build 
      run: dotnet build --no-restore SmartProperty.sln 
    - name: Test 
      run: dotnet test --no-build --verbosity normal SmartProperty.sln 
